// Add "tint" and "shade" mixins

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

// Import GOV.UK frontend toolkit
@import "colours";
@import "device-pixels";
@import "measurements";
@import "conditionals";
@import "shims";
//@import "typography";
@import "grid_layout";
@import "css3";
@import "design-patterns/buttons";

// Import GOV.UK elements

@import "elements/helpers";
@import "elements/reset";
//@import "elements/typography";
@import "elements/layout";
@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/details";
//@import "elements/lists";
@import "elements/panels";
@import "elements/icons";
@import "elements/utilities";
@import "elements/cards";


// Import modules

@import "modules/shame";
@import "modules/for-elements";
@import "modules/form-navigation";
@import "modules/other-specify";
@import "modules/radios-and-checkboxes";
//@import "modules/auto-suggest";
@import "modules/select-boxes";
@import "modules/guide_navigation";
@import "modules/page_meta";
@import "modules/breadcrumbs";

// NHS.UK Template

@import "modules/nhs-template";

// NHS "Sassline" based typography
@import "typography/variables";
@import "typography/modular-scale";
@import "typography/mixins";
@import "typography/typography";

// Default content stuff

.markdown-content {
  h1 { @extend .heading-large; }
  h2 { @extend .heading-medium; }
  h3 { @extend .heading-small; }

  ul { @extend .list-bullet; }
  ol { @extend .list-number; }
}


//
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
//




details summary:focus {
    outline:none !important;
}

.important {
    display: block;
    font-weight: 600;
    background: url(/public/images/icon-important-2x.png) 0px 0px / 25px 25px no-repeat;
    margin-left: 0px;
    padding: 0px 0px 0px 40px;
}

.alert {
    display: block;
    font-weight: 600;
    background: url(/public/images/icon-important-2x.png) 0px 14px / 25px 25px no-repeat;
    padding: 0px 0px 0px 40px;
}


a.another-gp-white{
  &:after {
    content: '';
    position: relative;
    display: inline-block;
    border: 6px solid transparent;
    left: 6px;
    border-right-color: $white;

    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);
  }
}

a.another-gp-black{
  &:after {
    content: '';
    position: relative;
    display: inline-block;
    border: 6px solid transparent;
    left: 6px;
    border-right-color: $black;

    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);
  }
}


.contact-label {
  margin-top: 16px;
  margin-bottom: -16px;
  font-weight: 800;
}

.contact-info {
  margin-top: 16px;
  margin-bottom: 2px;
  font-weight: 400;
}

.seegp {
  border-style: solid;
  border-width: 14px;
  border-color: $nhs-light-blue;
  background: white;
  color: $black;
  padding: 28px;
}

.gotoservice {
  border-style: solid;
  border-width: 14px;
  border-color: $nhs-light-green;
  background: $white;
  color: $black;
  padding: 28px;
  margin-bottom: 18px;
}

// Tertiary go to service CTA buttons (NHS light green)
.gotoservice-cta {
  background-color: $nhs-light-green;
  border-color: $nhs-light-green;
  border-width: 2px;
  color: $white;

  // height: 3rem;
  line-height: 2rem;

  // font-size: 16px;
  font-weight: bold;

  // padding-right was 2.5rem
  padding-right: 7.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  background-image: url("/public/images/icon-button-start.svg");
  background-repeat: no-repeat;
  background-position: 98.5% 57.5%;

  @include media(mobile) {
      // Change width of link to fill whole viewport (within borders obvs)

  }


  &:link,
  &:hover,
  &:focus,
  &:visited{
    color: $white;
    background-color: $nhs-light-green;
  }
}
