{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
{% include "includes/service-headers/111-design.html" %}
{% endblock %}

<main id="content" role="main">

  <div class="grid-row" style="background-color: #d81e05; color: #ffffff;">
    <div class="column-three-thirds" style="padding: 64px 32px;text-align: center;">

    <p class="heading-xlarge">Call 999 immediately</p>
    <p class="heading-medium">When the operator answers your call say<br />you have just completed the online 111 service.</p>

  </div>
</div>




</main>

{% endblock %}
