{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
{% include "includes/service-headers/111-design.html" %}
{% endblock %}

<main id="content" role="main">

  <div class="grid-row" style="background-color: #fbe8e6; color: #000000; border: 8px solid #d81e05;">
    <div class="column-two-thirds" style="padding: 64px 32px;">

    <h1 class="heading-xlarge">Call 999 immediately</h1>
    <h2 class="heading-medium">When the operator answers your call say you have just completed the online 111 service.</h2>

  </div>
</div>




</main>

{% endblock %}
