{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit - 111 design{% endblock %}

{% block afterHeader %}
{% include "includes/service-headers/111-design.html" %}
{% endblock %}


{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">NHS.UK 111<br />Design prototype</h1>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Week commencing Monday 7 November 2016</h2>


      <h3>Design</h3>
          <ul class="list-bullet">
            <li><a href="07-11-2016/design-session-cards">Design session cards</a></li>
            <li><a href="07-11-2016/home-care">Home care</a></li>
            <li><a href="07-11-2016/home-care-2">Home care 2</a></li>
            <li><a href="07-11-2016/home-care-3">Home care 3</a></li>
            <li><a href="07-11-2016/home-care-4">Home care 4</a></li>
            <li><a href="07-11-2016/see-a-pharmacist">See a pharmacist</a></li>
            <li><a href="07-11-2016/see-a-pharmacist-2">See a pharmacist 2</a></li>
            <li><a href="07-11-2016/see-a-pharmacist-3">See a pharmacist 3</a></li>
            <li><a href="07-11-2016/see-a-pharmacist-4">See a pharmacist 4</a></li>
            <li><a href="07-11-2016/see-a-pharmacist-5">See a pharmacist 5</a></li>
            <li><a href="07-11-2016/call-999">Call 999</a></li>
            <li><a href="07-11-2016/call-999-2">Call 999 2</a></li>
            <li><a href="07-11-2016/call-999-3">Call 999 3</a></li>

            </li>
          </ul>

    </div>

    <div class="column-third">

    {% include "includes/prototype_frontend/right_hand_third.html" %}

    </div>
  </div>

</main>

{% endblock %}
